body{

    background-image: url(0.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.container {
    padding: 15px;
    height: auto;
    margin: auto;
    width: 400px;
    background-color: #000;

}

h1{
    color: #fff;
    width: 100%;
    text-align: center;
    margin-top: -5px;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: -7px;
    text-align: right;
}

input[type="button"] {
    width: 96px;
    padding: 10px;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    transition: .6s;
}

input[type="button"]:hover{
    cursor: pointer;
    background-color: #fff;
    transition: .6s;

}


#del {
    width: 100%;
}